extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui amet assumenda corrupti, suscipit, voluptatibus dolore illo quaerat ipsum, a rem natus quidem! Repellendus unde itaque, delectus laborum accusantium ipsum dolorum.
                
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae harum explicabo totam cupiditate fuga neque odio molestiae, deserunt officiis asperiores incidunt iste.

                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit soluta necessitatibus quod minus debitis iure tenetur quos, amet esse delectus obcaecati dignissimos blanditiis at eveniet eum repellat illo quas quia. Modi impedit sunt labore corporis hic eveniet fugiat temporibus obcaecati.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio minus aperiam accusantium quisquam.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, dolor quas! Blanditiis esse libero fuga.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aspernatur eos temporibus quisquam tempore ea tempora ullam fugit.
